Tropicana_Workflow.json
{
  "name": "Tropicana — Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tropicana-whatsapp",
        "options": {}
      },
      "id": "5811aee3-72e9-4cc6-bb9b-d45df160640e",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6624,
        752
      ],
      "webhookId": "intervidros-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SETUP ENTRADA v1.0 — uazapi\n// ============================================\ntry {\n    const body = $input.all()[0].json.body || $input.all()[0].json;\n\n    const msg  = body.message || {};\n    const chat = body.chat    || {};\n\n    // Filtrar mensagens enviadas pelo próprio bot\n    if (msg.fromMe === true || msg.fromMe === 'true') return [];\n    if (msg.wasSentByApi === true) return [];\n\n    // Ignorar grupos\n    if (msg.isGroup === true || chat.wa_isGroup === true) return [];\n    if ((msg.chatid || '').includes('@g.us')) return [];\n\n    // Telefone\n    const rawPhone = msg.sender_pn\n        || msg.chatid\n        || chat.wa_chatid\n        || chat.phone\n        || '';\n\n    const phone = rawPhone\n        .replace('@s.whatsapp.net', '')\n        .replace('@c.us', '')\n        .replace(/\\D/g, '');\n\n    if (!phone || phone.length < 10) return [];\n\n    // Nome\n    const name = msg.senderName\n        || chat.name\n        || chat.wa_name\n        || 'Cliente';\n\n    // Tipo e conteúdo\n    const msgType      = msg.type        || msg.messageType || '';\n    const mediaType_raw = msg.mediaType  || '';\n\n    let mediaType   = 'text';\n    let messageText = '';\n\n    if (msgType === 'audio' || msgType === 'ptt' || mediaType_raw === 'audio') {\n        mediaType   = 'audio';\n        messageText = '[ÁUDIO]';\n    } else if (msgType === 'image' || mediaType_raw === 'image') {\n        mediaType   = 'image';\n        messageText = msg.content?.caption || msg.text || '[IMAGEM]';\n    } else if (msgType === 'video' || mediaType_raw === 'video') {\n        mediaType   = 'video';\n        messageText = msg.content?.caption || msg.text || '[VÍDEO]';\n    } else if (msgType === 'document' || mediaType_raw === 'document') {\n        mediaType   = 'document';\n        messageText = msg.content?.caption || msg.text || '[DOCUMENTO]';\n    } else if (msgType === 'sticker') {\n        mediaType   = 'sticker';\n        messageText = '[STICKER]';\n    } else {\n        messageText = msg.text\n            || msg.content?.text\n            || msg.content?.conversation\n            || '';\n    }\n\n    if (!messageText) return [];\n\n    const provider_message_id = msg.messageid || msg.id || null;\n    const queueKey = `msg_queue:${phone}`;\n    const msgId    = $execution.id + '-' + Math.random().toString(36).substr(2, 9);\n\n    const messageData = JSON.stringify({\n        text:               messageText,\n        name,\n        ts:                 Date.now(),\n        msg_id:             msgId,\n        provider_message_id: provider_message_id || null,\n    });\n\n    return [{\n        json: {\n            client_id:           phone,\n            client_name:         name,\n            message_text:        messageText,\n            media_type:          mediaType,\n            provider_message_id: provider_message_id,\n            channel:             'whatsapp',\n            timestamp:           new Date().toISOString(),\n            message_id:          msgId,\n            session_id:          `tropicana_${phone}`,\n            queue_key:           queueKey,\n            message_data:        messageData,\n            wa_provider:         'uazapi',\n        }\n    }];\n\n} catch (err) {\n    console.error('Setup Entrada uazapi:', err.message);\n    return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6432,
        752
      ],
      "id": "7268717d-1a7e-486a-8262-9c25ba4fdf89",
      "name": "Setup Entrada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://peaceful-sailfish-14074.upstash.io/rpush/{{ encodeURIComponent($node[\"Setup Entrada\"].json.queue_key) }}/{{ encodeURIComponent($node[\"Setup Entrada\"].json.message_data) }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5296,
        768
      ],
      "id": "e9d919e6-6790-47b4-a781-5da2fcbdc38a",
      "name": "Redis: Adicionar Fila",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GtD1cC5eGH05zVN",
          "name": "Redis: Carregar Sessão"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://peaceful-sailfish-14074.upstash.io/expire/{{ encodeURIComponent($json.queue_key) }}/30\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5088,
        768
      ],
      "id": "bdfcd04b-85d1-42c5-8927-ee7018bdb4ff",
      "name": "Redis: Definir TTL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GtD1cC5eGH05zVN",
          "name": "Redis: Carregar Sessão"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4880,
        768
      ],
      "id": "7b58db1f-cb33-4d97-b229-4a8a92d9473a",
      "name": "Aguardar Agrupamento",
      "webhookId": "agrupador-wait"
    },
    {
      "parameters": {
        "url": "=https://peaceful-sailfish-14074.upstash.io/lrange/{{ encodeURIComponent($node[\"Setup Entrada\"].json.queue_key) }}/0/-1\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4672,
        768
      ],
      "id": "a8262f42-72a8-468d-b7be-9c7e35d8f19d",
      "name": "Redis: Buscar Fila",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GtD1cC5eGH05zVN",
          "name": "Redis: Carregar Sessão"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// AGRUPADOR: PROCESSAR FILA v7.3 - ROBUSTO\n// Compatível com Upstash via HTTP Request (result / body.result / data.result)\n// ============================================\n\ntry {\n  const setupData = $('Setup Entrada').first().json;\n\n  // O HTTP Request do n8n pode retornar direto ou dentro de \"body\" (Full Response)\n  const raw = $json;\n  const payload =\n    (raw && typeof raw === 'object' && raw.body && typeof raw.body === 'object') ? raw.body :\n    (raw && typeof raw === 'object' && raw.data && typeof raw.data === 'object') ? raw.data :\n    raw;\n\n  // Upstash LRANGE normalmente vem em payload.result\n  const resultArr =\n    Array.isArray(payload?.result) ? payload.result :\n    Array.isArray(raw?.result) ? raw.result :\n    Array.isArray(raw?.body?.result) ? raw.body.result :\n    Array.isArray(raw?.data?.result) ? raw.data.result :\n    [];\n\n  let messages = [];\n\n  for (const item of resultArr) {\n    // item pode vir como string JSON (\"{...}\") ou já como objeto\n    if (item && typeof item === 'object') {\n      // se já for objeto, tenta normalizar\n      messages.push({\n        text: item.text ?? item.message ?? String(item),\n        name: item.name ?? setupData.client_name,\n        ts: item.ts ?? Date.now(),\n        msg_id: item.msg_id ?? setupData.message_id,\n        provider_message_id: item.provider_message_id ?? setupData.provider_message_id\n      });\n      continue;\n    }\n\n    if (typeof item === 'string') {\n      try {\n        const parsed = JSON.parse(item);\n        messages.push(parsed);\n      } catch (e) {\n        // fallback: se não for JSON, guarda como texto puro\n        messages.push({\n          text: item,\n          name: setupData.client_name,\n          ts: Date.now(),\n          msg_id: setupData.message_id\n        });\n      }\n    }\n  }\n\n  if (messages.length === 0) {\n    // debug forte pra você enxergar o formato real\n    console.log('Processar Fila DEBUG: raw keys=', Object.keys(raw || {}));\n    console.log('Processar Fila DEBUG: payload keys=', Object.keys(payload || {}));\n    console.log('Processar Fila DEBUG: resultArr=', resultArr);\n\n    return { json: { skip: true, reason: 'no_messages' } };\n  }\n\n  // Ordenar por timestamp\n  messages.sort((a, b) => (a.ts ?? 0) - (b.ts ?? 0));\n\n  // Verificar dono da última mensagem (debounce/ownership)\n  const lastMessage = messages[messages.length - 1];\n  if (lastMessage.msg_id !== setupData.message_id) {\n    return { json: { skip: true, reason: 'not_owner' } };\n  }\n\n  // Consolidar\n  const consolidatedText = messages.map(m => m.text).join('\\n');\n  const clientName = messages[0].name || setupData.client_name;\n\n  return {\n    json: {\n      skip: false,\n      client_id: setupData.client_id,\n      client_name: clientName,\n      message_text: consolidatedText,\n      channel: \"whatsapp\",\n      timestamp: new Date().toISOString(),\n      message_id: setupData.message_id,\n      messages_count: messages.length,\n      session_id: `whatsapp_${setupData.client_id}`,\n      queue_key: setupData.queue_key\n    }\n  };\n\n} catch (error) {\n  console.error('Processar Fila: Erro geral -', error.message);\n  return { json: { skip: true, reason: 'error', error_message: error.message } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4464,
        768
      ],
      "id": "00d4b129-b312-42cd-b1a2-acadb5dc1f78",
      "name": "Processar Fila"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://peaceful-sailfish-14074.upstash.io/del/{{ encodeURIComponent($node[\"Setup Entrada\"].json.queue_key) }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        784
      ],
      "id": "a6ccdcaa-8c00-4078-9cea-7eac34e7b8bd",
      "name": "Redis: Limpar Fila",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GtD1cC5eGH05zVN",
          "name": "Redis: Carregar Sessão"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 900,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3632,
        1024
      ],
      "id": "470fd111-7877-403d-8ce0-4049ef2d28e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lBQcckFrPEBVQ621",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Processar Fila').first().json.session_id }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -3504,
        992
      ],
      "id": "abeb2f3d-adc0-4525-ac5a-226b0afa9289",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "SpBLOPi3CaVDfUOc",
          "name": "Redis-wandscheer"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// PROCESSAR RESPOSTA v10.0\n// ============================================\ntry {\n    const aiOutput = $json.output || $json.text || $json;\n    const inputData = $('Processar Fila').first().json;\n\n    let responseText = '';\n    let escalateHuman = false;\n    let intent = 'geral';\n    let confidence = 0.5;\n    let newOrderState = null;\n\n    let rawText = typeof aiOutput === 'string' ? aiOutput : JSON.stringify(aiOutput);\n\n    rawText = rawText\n        .replace(/```json/gi, '')\n        .replace(/```/gi, '')\n        .trim();\n\n    const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n        try {\n            const parsed = JSON.parse(jsonMatch[0]);\n            responseText  = parsed.response_text || '';\n            escalateHuman = parsed.escalate_human || false;\n            intent        = parsed.intent || 'geral';\n            confidence    = parsed.confidence || 0.5;\n            newOrderState = parsed.new_order_state || null;\n        } catch (e) {\n            responseText = rawText.replace(/\\{[\\s\\S]*\\}/, '').trim() || rawText;\n        }\n    } else {\n        responseText = rawText;\n    }\n\n    if (!responseText || responseText.length < 3) {\n        responseText = 'Olá! Como posso ajudá-lo hoje? 😊';\n    }\n\n    responseText = responseText\n        .replace(/```json/gi, '')\n        .replace(/```/g, '')\n        .trim();\n\n    const clientId = inputData.client_id || '00';\n    const distributedDelay = parseInt(clientId.slice(-2), 10) % 10;\n    const waitSeconds = 2 + distributedDelay;\n\n    return {\n        json: {\n            client_id:       inputData.client_id,\n            client_name:     inputData.client_name,\n            response_text:   responseText,\n            escalate_human:  Boolean(escalateHuman),\n            intent:          intent,\n            confidence:      confidence,\n            session_id:      inputData.session_id,\n            timestamp:       new Date().toISOString(),\n            wait_seconds:    waitSeconds,\n            new_order_state: newOrderState ? JSON.stringify(newOrderState) : null\n        }\n    };\n\n} catch (error) {\n    console.error('Processar Resposta: Erro geral -', error.message);\n    const inputData = $('Processar Fila').first().json;\n    return {\n        json: {\n            client_id:       inputData.client_id,\n            client_name:     inputData.client_name,\n            response_text:   'Desculpe, tive um problema. Por favor, tente novamente.',\n            escalate_human:  true,\n            intent:          'error',\n            confidence:      0,\n            session_id:      inputData.session_id,\n            timestamp:       new Date().toISOString(),\n            wait_seconds:    3,\n            new_order_state: null\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        768
      ],
      "id": "becf9f27-743a-4565-b0d5-5524417e02af",
      "name": "Processar Resposta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "escalate-check",
              "leftValue": "={{ $json.escalate_human }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2512,
        768
      ],
      "id": "b2f908f2-4928-4b88-be60-5a346fb44a66",
      "name": "Decisão de Envio"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2320,
        528
      ],
      "id": "65a835d9-54fe-46e2-a8c8-e1419c02d46f",
      "name": "Wait",
      "webhookId": "bdba28a6-afd8-4bd5-bc2a-e417faf0593d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://intervidros.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "c42f20ba-4fdb-45f4-8c1f-de7e4eb416e3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        528
      ],
      "id": "4c1bc793-b461-4710-8a9f-1d4e017f02a9",
      "name": "ENVIAR WHATSAPP",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2320,
        864
      ],
      "id": "6f2b60df-a8f5-424e-9f05-73bddfec23e3",
      "name": "Wait Escalate",
      "webhookId": "11b915c2-e9c4-4d72-ba42-2235a2ff1f58"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://intervidros.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "c42f20ba-4fdb-45f4-8c1f-de7e4eb416e3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.response_text }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        864
      ],
      "id": "c7bc7d79-9378-4028-88f8-7fc365391416",
      "name": "ENVIAR WHATSAPP (Escalate)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "660b8d7a-5903-4a7d-a3b2-e16e9d88f01b",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4256,
        768
      ],
      "id": "a9e56e2e-a309-4e25-94c6-a0d3fcffd055",
      "name": "Filtrar Skip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://intervidros.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "c42f20ba-4fdb-45f4-8c1f-de7e4eb416e3"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "554598080945"
            },
            {
              "name": "text",
              "value": "={{ \n'🛎️ *NOVO PEDIDO CONFIRMADO*\\n\\n' +\n'👤 Cliente: ' + $('Processar Resposta').first().json.client_name + '\\n' +\n'📱 Telefone: ' + $('Processar Resposta').first().json.client_id + '\\n\\n' +\n$('Processar Resposta').first().json.response_text\n}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        864
      ],
      "id": "08df4224-c049-42b4-b5b2-d73c99d62340",
      "name": "Notificar Admin (Escalação)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// LOG DE CONVERSA v7.2\n// Registra informações para análise posterior\n// ============================================\n\nconst inputData = $('Processar Fila').first().json;\nconst responseData = $('Processar Resposta').first().json;\n\nconst logEntry = {\n    timestamp: new Date().toISOString(),\n    session_id: inputData.session_id,\n    client_id: inputData.client_id,\n    client_name: inputData.client_name,\n    messages_count: inputData.messages_count,\n    user_message: inputData.message_text,\n    bot_response: responseData.response_text,\n    intent: responseData.intent,\n    confidence: responseData.confidence,\n    escalated: responseData.escalate_human,\n    execution_id: $execution.id\n};\n\nconsole.log('CONVERSATION_LOG:', JSON.stringify(logEntry));\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        528
      ],
      "id": "80ef3b18-7f3d-4cc2-855c-abb5790ce1a9",
      "name": "Log Conversa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "95a4dab9-4046-435a-8955-55e50392b8b3",
              "leftValue": "=={{ $json.provider_message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6224,
        752
      ],
      "id": "b0389692-1163-4ce1-9164-4a243170071a",
      "name": "provider_message_id existe?"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=dedupe:{{$node[\"Setup Entrada\"].json.client_id}}:{{$node[\"Setup Entrada\"].json.provider_message_id}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5968,
        672
      ],
      "id": "8ccc21d1-357f-4481-9eed-58c4e1b49f92",
      "name": "Redis - GET dedupe",
      "credentials": {
        "redis": {
          "id": "SpBLOPi3CaVDfUOc",
          "name": "Redis-wandscheer"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "95a4dab9-4046-435a-8955-55e50392b8b3",
              "leftValue": "=={{ $json.propertyName }}",
              "rightValue": "\"1\"",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5760,
        672
      ],
      "id": "7c8e93c6-28ce-4d0b-986c-5924707ceeab",
      "name": "IF - duplicada?"
    },
    {
      "parameters": {
        "jsCode": "return [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5536,
        528
      ],
      "id": "e78971af-987a-4b64-a03b-6e29d6521539",
      "name": "STOP - duplicada"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=dedupe:{{$node[\"Setup Entrada\"].json.client_id}}:{{$node[\"Setup Entrada\"].json.provider_message_id}}\n",
        "value": "1",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5536,
        672
      ],
      "id": "a3295022-32fa-47da-b411-0517e40d7191",
      "name": "Redis Set",
      "credentials": {
        "redis": {
          "id": "SpBLOPi3CaVDfUOc",
          "name": "Redis-wandscheer"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://peaceful-sailfish-14074.upstash.io/get/pedido_state:{{ $('Processar Fila').first().json.client_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4016,
        768
      ],
      "id": "f96a027f-f0be-4a17-8e07-0be7ecce04ca",
      "name": "Carregar Estado Pedido",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5GtD1cC5eGH05zVN",
          "name": "Redis: Carregar Sessão"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PREPARAR CONTEXTO PEDIDO v2.0 - DELIVERY\n// ============================================\ntry {\n    const filaData = $('Processar Fila').first().json;\n    const redisResponse = $json;\n\n    let orderState = null;\n    try {\n        if (redisResponse && redisResponse.result && redisResponse.result !== null) {\n            orderState = JSON.parse(redisResponse.result);\n        }\n    } catch(e) { orderState = null; }\n\n    if (!orderState) {\n        orderState = {\n            phase: \"idle\",\n            items: [],\n            nome_cliente: null,\n            endereco: null,\n            complemento: null,\n            bairro: null,\n            forma_pagamento: null,\n            troco_para: null,\n            total: 0,\n            confirmado: false\n        };\n    }\n\n    let orderSummary = \"\";\n    if (orderState.phase === \"idle\") {\n        orderSummary = \"Nenhum pedido em andamento.\";\n    } else if (orderState.phase === \"coletando\") {\n        const itensList = orderState.items.length > 0\n            ? orderState.items.map(i => `${i.nome} x${i.quantidade}`).join(\", \")\n            : \"nenhum ainda\";\n        orderSummary = `PEDIDO EM ANDAMENTO (coletando informações):\\n` +\n            `- Itens: ${itensList}\\n` +\n            `- Nome: ${orderState.nome_cliente || \"não informado\"}\\n` +\n            `- Endereço: ${orderState.endereco || \"não informado\"}\\n` +\n            `- Complemento: ${orderState.complemento || \"não informado\"}\\n` +\n            `- Bairro: ${orderState.bairro || \"não informado\"}\\n` +\n            `- Pagamento: ${orderState.forma_pagamento || \"não informado\"}\\n` +\n            `- Troco: ${orderState.troco_para ? \"R$ \" + orderState.troco_para : \"não necessário\"}\\n` +\n            `- Total parcial: R$ ${orderState.total}`;\n    } else if (orderState.phase === \"aguardando_confirmacao\") {\n        const itensList = orderState.items\n            .map(i => `  • ${i.nome} x${i.quantidade} — R$ ${i.preco_total}`)\n            .join(\"\\n\");\n        orderSummary = `PEDIDO AGUARDANDO CONFIRMAÇÃO DO CLIENTE:\\n` +\n            `${itensList}\\n` +\n            `- Nome: ${orderState.nome_cliente}\\n` +\n            `- Endereço: ${orderState.endereco}${orderState.complemento ? \", \" + orderState.complemento : \"\"} — ${orderState.bairro}\\n` +\n            `- Pagamento: ${orderState.forma_pagamento}\\n` +\n            `${orderState.troco_para ? \"- Troco para: R$ \" + orderState.troco_para + \"\\n\" : \"\"}` +\n            `- TOTAL: R$ ${orderState.total}`;\n    } else if (orderState.phase === \"finalizado\") {\n        orderSummary = \"Pedido finalizado e confirmado pelo cliente.\";\n    }\n\n    return [{\n        json: {\n            ...filaData,\n            order_state: JSON.stringify(orderState),\n            order_summary: orderSummary,\n            order_phase: orderState.phase\n        }\n    }];\n\n} catch (error) {\n    console.error(\"Preparar Contexto Pedido: Erro -\", error.message);\n    const filaData = $('Processar Fila').first().json;\n    return [{\n        json: {\n            ...filaData,\n            order_state: '{\"phase\":\"idle\",\"items\":[],\"nome_cliente\":null,\"endereco\":null,\"complemento\":null,\"bairro\":null,\"forma_pagamento\":null,\"troco_para\":null,\"total\":0,\"confirmado\":false}',\n            order_summary: \"Nenhum pedido em andamento.\",\n            order_phase: \"idle\"\n        }\n    }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3776,
        768
      ],
      "id": "efb25f6b-64ad-4736-a1b3-3d24e2145e5f",
      "name": "Preparar Contexto Pedido"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PREPARAR SALVAR PEDIDO v1.1 - CORRIGIDO\n// ============================================\ntry {\n    const responseData = $json;\n\n    if (responseData.new_order_state) {\n        const clientId = responseData.client_id;\n        const stateStr = typeof responseData.new_order_state === 'string'\n            ? responseData.new_order_state\n            : JSON.stringify(responseData.new_order_state);\n\n        return {\n            ...responseData,\n            redis_key: `pedido_state:${clientId}`,\n            redis_value: stateStr,\n            redis_ttl: 7200\n        };\n    }\n\n    return {\n        ...responseData,\n        redis_key: `pedido_noop`,\n        redis_value: '{}',\n        redis_ttl: 7200\n    };\n} catch(error) {\n    console.error('Preparar Salvar Pedido: Erro -', error.message);\n    return $json;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        768
      ],
      "id": "73e4603f-db0a-43af-a8a4-d79146548b23",
      "name": "Preparar Salvar Pedido"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// REDIS: SALVAR ESTADO PEDIDO v2.1\n// ============================================\nconst key = $json.redis_key || 'pedido_noop';\nconst value = encodeURIComponent($json.redis_value || '{}');\nconst ttl = $json.redis_ttl || 7200;\n\ntry {\n    await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://peaceful-sailfish-14074.upstash.io/set/${key}/${value}/EX/${ttl}`,\n        headers: {\n            'Authorization': 'Bearer ATb6AAIncDFkNzcxNmI2MjYwMzc0OWIyYTE4Yzk1YjA4NjZkZDk2ZXAxMTQwNzQ'\n        }\n    });\n} catch(e) {\n    console.error('Redis save error:', e.message);\n}\n\nreturn [{\n    json: {\n        client_id: $json.client_id,\n        client_name: $json.client_name,\n        response_text: $json.response_text,\n        escalate_human: $json.escalate_human,\n        intent: $json.intent,\n        confidence: $json.confidence,\n        session_id: $json.session_id,\n        timestamp: $json.timestamp,\n        wait_seconds: $json.wait_seconds,\n        new_order_state: $json.new_order_state\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        768
      ],
      "id": "7b98dbd1-24bf-4ed5-89b8-c9e5be4c06c2",
      "name": "Redis: Salvar Estado Pedido"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é um atendente humanizado da Churrascaria Tropicana, Foz do Iguaçu.\n\nCLIENTE: {{ $('Preparar Contexto Pedido').first().json.client_name }}\n\nESTADO ATUAL DO PEDIDO:\n{{ $('Preparar Contexto Pedido').first().json.order_summary }}\n\n====================================================\nPERSONALIDADE (OBRIGATÓRIO)\n====================================================\n- Seja cordial, atencioso e profissional.\n- Tom de conversa natural — proibido: \"menu\", \"selecione\", \"digite 1/2/3\".\n- Responda APENAS o que foi perguntado.\n- NÃO despeje informações sem necessidade.\n- Mensagens curtas e claras (prefira quebras de linha).\n- Se precisar perguntar algo, faça 1 pergunta direta por mensagem.\n\n====================================================\nABERTURA (OBRIGATÓRIO)\n====================================================\nQuando o cliente mandar apenas saudação (\"Oi\", \"Olá\", \"Bom dia\", \"Boa tarde\", \"Boa noite\"), responda SEMPRE:\n\n\"Olá! Bem-vindo à Churrascaria Tropicana 😊🥩\n\nPosso te ajudar com:\n• Informações sobre o salão (almoço e jantar)\n• Pedido de marmitas via WhatsApp\n• Cardápio digital\n\nComo posso ajudar?\"\n\nNADA MAIS. Espere o cliente responder.\n\n====================================================\nREGRA CRÍTICA — SALÃO = APENAS INFORMATIVO\n====================================================\nPerguntas sobre SALÃO (almoço, jantar, rodízio, buffet, reservas):\n→ Responda com as informações disponíveis via tool.\n→ NUNCA tente tirar pedido de salão pelo WhatsApp.\n→ Para reservas: informe o telefone da loja (buscar via tool \"config loja\").\n→ Sempre ofereça o cardápio digital: https://churrascariatropicana.saipos.com/home\n\n====================================================\nREGRA CRÍTICA — PEDIDOS VIA WHATSAPP\n====================================================\nItens que podem ser pedidos pelo WhatsApp:\n• Marmitas (todos os tipos)\n• Combos Família\n• A la Carte\n• Guarnições avulsas\n• Porções de carne\n\nORDEM OBRIGATÓRIA para pedidos:\n1. Cliente informa o produto → confirme e pergunte APENAS a quantidade\n2. Cliente informa quantidade → pergunte APENAS: retirada ou delivery?\n3. Se delivery → peça: rua + número + bairro + complemento (se tiver)\n4. Se retirada → pule para pagamento\n5. Pergunte APENAS a forma de pagamento\n6. Se dinheiro → \"Precisa de troco? Se sim, troco pra quanto?\"\n7. Envie RESUMO completo e peça confirmação\n\n====================================================\nREGRA CRÍTICA: UM PASSO POR MENSAGEM (OBRIGATÓRIO)\n====================================================\nNUNCA faça duas perguntas na mesma mensagem.\nCada mensagem = uma única pergunta ou informação.\n\n====================================================\nREGRA CRÍTICA: PREÇOS SEMPRE VISÍVEIS\n====================================================\nAo apresentar opções, mostre SEMPRE o preço ao lado.\nUse APENAS preços retornados pela tool — NUNCA invente.\n\n====================================================\nREGRA CRÍTICA: LINK CARDÁPIO DIGITAL\n====================================================\nQuando cliente pedir \"cardápio\", \"menu\" ou \"quero ver tudo\":\n→ Envie: https://churrascariatropicana.saipos.com/home\n→ NÃO liste tudo manualmente quando o link resolve.\n\n====================================================\nREGRA CRÍTICA: ANTI-ALUCINAÇÃO (UNIVERSO FECHADO)\n====================================================\nPROIBIDO inventar: preços, produtos, horários, taxa/tempo de entrega, parcelamento.\nSe não souber: \"Não tenho essa informação. Vou encaminhar para o atendimento 😊\"\ne defina escalate_human: true\n\n====================================================\nREGRA CRÍTICA: NÃO TRAVAR EM SAUDAÇÃO\n====================================================\nSe cliente fizer pergunta junto com a saudação, responda direto.\n\n====================================================\nREGRA ANTI-LOOP\n====================================================\n- Nunca repita a mesma pergunta 2x.\n- Interprete respostas curtas pelo CONTEXTO da última pergunta.\n- Se ambíguo: \"Só pra confirmar: (A) ou (B)?\"\n\n====================================================\nQUANDO ESCALAR (escalate_human: true)\n====================================================\n- Reclamações / cliente irritado / palavras: \"reclamação\", \"atraso\", \"frio\", \"cabelo\", \"procon\", \"gerente\"\n- Taxa ou tempo de entrega\n- Parcelamento, taxa de cartão, bandeiras\n- Cliente insistindo em informação não disponível\n\n====================================================\n✅ MÓDULO DELIVERY\n====================================================\n\"Me informa por favor:\n• Rua + número\n• Bairro\n• Complemento (se tiver) 😊\"\n\nSe perguntar sobre taxa de entrega → escale para humano.\n\n====================================================\n✅ FORMA DE PAGAMENTO\n====================================================\n\"Qual a forma de pagamento: Pix, cartão ou dinheiro? 😊\"\nSe dinheiro: \"Precisa de troco? Se sim, troco pra quanto?\"\n\n====================================================\nFORMATAÇÃO DO RESUMO (OBRIGATÓRIO)\n====================================================\n\"✅ *Resumo do pedido*\n• [item] x[qtd] — R$ [total]\n\n🚚 *Entrega*\n• Tipo: Retirada / Delivery\n• (Se delivery) Endereço: [rua], [bairro] [complemento]\n\n💳 *Pagamento*\n• Forma: [pagamento]\n• (Se dinheiro) Troco para: R$ [valor]\n\n*Total: R$ [total]*\n\nConfirma pra eu registrar? 😊\"\n\n====================================================\n⚠️ FORMATO DE SAÍDA — JSON OBRIGATÓRIO (CRÍTICO)\n====================================================\nResponda EXCLUSIVAMENTE com um objeto JSON válido.\nNUNCA coloque texto fora do JSON. NUNCA use blocos de código.\n\n{\n  \"intent\": \"geral|salao|marmita|alacarte|combo|cardapio|pagamento|humano\",\n  \"response_text\": \"Mensagem para o cliente.\\nUse • para listas.\\nUse *negrito* para títulos.\\nNUNCA use **, #, __ ou - para listas.\",\n  \"escalate_human\": false,\n  \"confidence\": 0.9,\n  \"new_order_state\": {\n    \"phase\": \"idle\",\n    \"items\": [\n      {\n        \"nome\": \"Marmita Tradicional\",\n        \"quantidade\": 1,\n        \"preco_unitario\": 20.00,\n        \"preco_total\": 20.00,\n        \"detalhes\": {}\n      }\n    ],\n    \"nome_cliente\": null,\n    \"endereco\": null,\n    \"complemento\": null,\n    \"bairro\": null,\n    \"forma_pagamento\": null,\n    \"troco_para\": null,\n    \"total\": 20.00,\n    \"confirmado\": false\n  }\n}\n\nFASES:\n- \"idle\"                   → nenhum pedido iniciado\n- \"coletando\"              → coletando itens/quantidade\n- \"aguardando_entrega\"     → itens definidos, perguntando retirada ou delivery\n- \"coletando_endereco\"     → coletando endereço (só delivery)\n- \"aguardando_pagamento\"   → endereço/retirada confirmado, perguntando pagamento\n- \"aguardando_confirmacao\" → resumo enviado, aguardando confirmação\n- \"finalizado\"             → cliente confirmou\n\nREGRAS:\n- Atualize new_order_state a cada mensagem.\n- NUNCA retorne new_order_state null quando há pedido em andamento.\n- Para perguntas informativas (salão, dúvidas), new_order_state.phase = \"idle\".\n- Qualquer resposta fora deste JSON causará falha no sistema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3552,
        768
      ],
      "id": "c7355c63-f283-4c50-8d47-3ed1be4b3ea2",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const order = JSON.parse($('Processar Resposta').first().json.new_order_state);\n\nconst itens = order.items.map(i => {\n  let linha = '• ' + i.nome + ' x' + i.quantidade + ' — R$ ' + i.preco_total.toFixed(2);\n  if (i.detalhes?.sabores?.length)      linha += '\\n  Sabores: ' + i.detalhes.sabores.join(', ');\n  if (i.detalhes?.complementos?.length) linha += '\\n  Complementos: ' + i.detalhes.complementos.join(', ');\n  if (i.detalhes?.acompanhamento)       linha += '\\n  Acompanhamento: ' + i.detalhes.acompanhamento;\n  if (i.detalhes?.cobertura)            linha += '\\n  Cobertura: ' + i.detalhes.cobertura;\n  if (i.detalhes?.fruta)                linha += '\\n  Fruta: ' + i.detalhes.fruta;\n  return linha;\n}).join('\\n');\n\nconst entrega = order.bairro\n  ? 'Delivery\\n📍 ' + order.endereco + ', ' + order.bairro + (order.complemento ? ' — ' + order.complemento : '')\n  : 'Retirada no balcão';\n\nconst taxa = order.taxa_entrega\n  ? '*Taxa:* R$ ' + parseFloat(order.taxa_entrega).toFixed(2) + '\\n'\n  : '';\n\nconst pagamento = '*Pagamento:* ' + (order.forma_pagamento || '-') + '\\n' +\n  (order.troco_para ? '*Troco para:* R$ ' + order.troco_para + '\\n' : '');\n\nconst adminMessage =\n  '🛎️ *NOVO PEDIDO CONFIRMADO*\\n\\n' +\n  '👤 *Cliente:* ' + $('Processar Resposta').first().json.client_name + '\\n' +\n  '📱 *Telefone:* ' + $('Processar Resposta').first().json.client_id + '\\n\\n' +\n  '*Itens:*\\n' + itens + '\\n\\n' +\n  '*Entrega:* ' + entrega + '\\n' +\n  taxa +\n  pagamento +\n  '\\n*Total: R$ ' + order.total.toFixed(2) + '*';\n\nreturn {\n  json: {\n    ...$('Processar Resposta').first().json,\n    admin_message: adminMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        704
      ],
      "id": "9a7321ca-969f-486f-ac52-a604f8304ede",
      "name": "Notificar Pedido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7aee3e87-6c2e-4e1e-9e9a-c3fdd5ebb8c7",
              "leftValue": "=={{ $('Processar Resposta').first().json.new_order_state }}",
              "rightValue": "=\"phase\":\"finalizado\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1776,
        672
      ],
      "id": "30482f0f-fa49-464c-9302-c12a4c0b9778",
      "name": "Pedido Confirmado?"
    },
    {
      "parameters": {
        "name": "consultar_cardapio",
        "description": "Consulta o cardápio, preços e informações da Churrascaria Tropicana. Use sempre que precisar de informações sobre salão (almoço/jantar, buffet, rodízio), marmitas, a la carte, combos família, guarnições, porções, bebidas, sobremesas, horários e configurações da loja. Exemplos de query: 'marmitas', 'alacarte', 'combos', 'bebidas', 'guarnicoes', 'salao', 'salao almoco', 'salao jantar', 'config loja', 'todos'.",
        "jsCode": "\n// ============================================================\n// TOOL: Consultar Cardápio — Churrascaria Tropicana\n// Dados hardcoded — atualize aqui quando o cardápio mudar\n// ============================================================\n\nconst query = (input.query || input || '').toString().toLowerCase().trim();\n\n// ─── BASE DE DADOS ───────────────────────────────────────────\nconst DATA = {\n  config: {\n    nome_loja:          'Churrascaria Tropicana',\n    cidade:             'Foz do Iguaçu',\n    link_cardapio:      'https://churrascariatropicana.saipos.com/home',\n    formas_pagamento:   'Pix, Cartão, Dinheiro',\n    chave_pix:          '[PREENCHER]',\n    telefone:           '(45) [PREENCHER]',\n    horario_almoco:     'Seg–Sáb: 11h às 14h30 | Dom: 11h às 15h',\n    horario_jantar:     'Ter–Sáb: 19h às 23h',\n  },\n  salao: [\n    { periodo:'almoco', tipo:'Buffet Livre',               preco:34.90,  obs:'Não mistura com Rodízio na mesma mesa' },\n    { periodo:'almoco', tipo:'Rodízio Completo',           preco:64.90,  obs:'Não mistura com Buffet na mesma mesa' },\n    { periodo:'jantar', tipo:'Rodízio Completo + Pizzas',  preco:64.90,  obs:'' },\n    { periodo:'jantar', tipo:'Buffet Noturno',             preco:50.00,  obs:'Exceção — consultar disponibilidade' },\n  ],\n  marmitas: [\n    { nome:'Marmita Tradicional',      preco:20.00, descricao:'Arroz, Feijão, Macarrão, Legumes, Farofa, Linguiça, Carne Assada' },\n    { nome:'Promo 2 Tradicionais',     preco:38.00, descricao:'2 marmitas tradicionais (1,3kg total)' },\n    { nome:'Executiva Frango',         preco:17.00, descricao:'Marmita executiva com frango' },\n    { nome:'Executiva 750g',           preco:28.00, descricao:'Marmita executiva 750g' },\n    { nome:'Executiva Contra Filé',    preco:34.00, descricao:'Marmita executiva com contra filé' },\n    { nome:'Executiva Picanha',        preco:38.00, descricao:'Marmita executiva com picanha' },\n  ],\n  combos: [\n    { nome:'Combo Família Alcatra',   preco:101.90, descricao:'400g Alcatra + 300g Arroz + 350g Mandioca + 450g Maionese + Vinagrete + Farofa' },\n    { nome:'Combo Família Maminha',   preco:95.90,  descricao:'400g Maminha + 300g Arroz + 350g Mandioca + 450g Maionese + Vinagrete + Farofa' },\n    { nome:'Combo Família Fraldinha', preco:90.90,  descricao:'400g Fraldinha + 300g Arroz + 350g Mandioca + 450g Maionese + Vinagrete + Farofa' },\n  ],\n  alacarte: [\n    { nome:'Picanha 8 fatias',      preco:224.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Filé Mignon 8 fatias',  preco:249.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Contrafilé 8 fatias',   preco:199.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Picanha 4 fatias',      preco:139.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Filé Mignon 4 fatias',  preco:154.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Contrafilé 4 fatias',   preco:109.90, inclui:'Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas' },\n    { nome:'Adicional Picanha (por fatia)',     preco:17.90, inclui:'' },\n    { nome:'Adicional Filé Mignon (por fatia)', preco:19.90, inclui:'' },\n    { nome:'Adicional Contrafilé (por fatia)',  preco:15.90, inclui:'' },\n  ],\n  guarnicoes: [\n    { nome:'Arroz Grande',     preco:34.90 },\n    { nome:'Arroz Pequeno',    preco:20.90 },\n    { nome:'Feijão',           preco:14.90 },\n    { nome:'Salada',           preco:25.90 },\n    { nome:'Maionese',         preco:34.90 },\n    { nome:'Polenta',          preco:28.90 },\n    { nome:'Batata',           preco:29.90 },\n    { nome:'Mandioca Cozida',  preco:19.90 },\n    { nome:'Mandioca Frita',   preco:20.90 },\n    { nome:'Vinagrete',        preco:9.90  },\n    { nome:'Chimichurri',      preco:8.90  },\n    { nome:'Coração',          preco:39.90 },\n  ],\n  porcoes: [\n    { nome:'Porção Picanha 400g',     preco:85.90 },\n    { nome:'Porção Contra Filé 400g', preco:61.90 },\n    { nome:'Porção Linguiça 400g',    preco:28.90 },\n  ],\n  bebidas: [\n    { categoria:'Refrigerante', nome:'Coca-Cola / Pepsi / Fanta / Guaraná / Schweppes / Tônica', preco:9.00, variante:'350ml' },\n    { categoria:'Agua',         nome:'Água sem gás',    preco:6.00,  variante:'' },\n    { categoria:'Agua',         nome:'Água com gás',    preco:6.00,  variante:'' },\n    { categoria:'Agua',         nome:'H2O',             preco:10.00, variante:'' },\n    { categoria:'Suco',         nome:'Suco Copo (Abacaxi, Acerola, Manga, Maracujá, Morango)',  preco:12.00, variante:'copo' },\n    { categoria:'Suco',         nome:'Suco Jarra (Abacaxi, Acerola, Manga, Maracujá, Morango)', preco:22.00, variante:'jarra' },\n    { categoria:'Suco Natural', nome:'Suco Copo (Laranja, Limão)',  preco:12.00, variante:'copo' },\n    { categoria:'Suco Natural', nome:'Suco Jarra (Laranja, Limão)', preco:22.00, variante:'jarra' },\n    { categoria:'Cerveja 600ml',nome:'Corona',     preco:20.00, variante:'600ml' },\n    { categoria:'Cerveja 600ml',nome:'Stella',     preco:18.00, variante:'600ml' },\n    { categoria:'Cerveja 600ml',nome:'Original / Spaten', preco:17.00, variante:'600ml' },\n    { categoria:'Cerveja 600ml',nome:'Budweiser',  preco:16.00, variante:'600ml' },\n    { categoria:'Cerveja 600ml',nome:'Brahma / Skol', preco:15.00, variante:'600ml' },\n    { categoria:'Long Neck',    nome:'Patagonia',  preco:13.00, variante:'long neck' },\n    { categoria:'Long Neck',    nome:'Corona / Stella / Stella Pure Gold / Corona 0.0 / Brahma Malzibier', preco:12.00, variante:'long neck' },\n    { categoria:'Vinho',        nome:'Vinhos (consultar rótulos)', preco:0, variante:'R$ 80 a R$ 130' },\n    { categoria:'Drink',        nome:'Caipirinha',   preco:15.00, variante:'' },\n    { categoria:'Drink',        nome:'Caipivodka',   preco:20.00, variante:'' },\n    { categoria:'Drink',        nome:'Whisky',       preco:20.00, variante:'' },\n    { categoria:'Drink',        nome:'Vodka',        preco:15.00, variante:'' },\n    { categoria:'Drink',        nome:'Cachaça',      preco:5.00,  variante:'' },\n  ],\n  sobremesas: [\n    { nome:'Sagu de Vinho', preco:8.90 },\n  ],\n};\n\n// ─── ROTEAMENTO ───────────────────────────────────────────────\nfunction fmt(arr, fn) { return arr.map(fn).join('\\n'); }\n\nlet resposta = '';\n\n// CONFIG / LOJA\nif (/config|loja|horario|pix|pagamento|telefone|nome|abertura|link|cardapio digital/.test(query)) {\n  const c = DATA.config;\n  resposta =\n    `LOJA: ${c.nome_loja} — ${c.cidade}\\n` +\n    `HORÁRIO ALMOÇO: ${c.horario_almoco}\\n` +\n    `HORÁRIO JANTAR: ${c.horario_jantar}\\n` +\n    `PAGAMENTO: ${c.formas_pagamento}\\n` +\n    `CHAVE PIX: ${c.chave_pix}\\n` +\n    `TELEFONE: ${c.telefone}\\n` +\n    `CARDÁPIO DIGITAL: ${c.link_cardapio}`;\n}\n\n// SALÃO\nelse if (/salao|salão|rodizio|rodízio|buffet|almoco|almoço|jantar|reserva/.test(query)) {\n  const periodo = /jantar/.test(query) ? 'jantar' : /almoco|almoço/.test(query) ? 'almoco' : null;\n  const lista = periodo ? DATA.salao.filter(x => x.periodo === periodo) : DATA.salao;\n  const c = DATA.config;\n  resposta = `INFORMAÇÕES DO SALÃO (apenas informativo — pedidos de salão não são feitos via WhatsApp)\\n\\n`;\n  resposta += `ALMOÇO — ${c.horario_almoco}\\n`;\n  DATA.salao.filter(x=>x.periodo==='almoco').forEach(x => {\n    resposta += `• ${x.tipo}: R$ ${x.preco.toFixed(2)}/pessoa${x.obs?' — '+x.obs:''}\\n`;\n  });\n  resposta += `\\nJANTAR — ${c.horario_jantar}\\n`;\n  DATA.salao.filter(x=>x.periodo==='jantar').forEach(x => {\n    resposta += `• ${x.tipo}: R$ ${x.preco.toFixed(2)}/pessoa${x.obs?' — '+x.obs:''}\\n`;\n  });\n  resposta += `\\nCARDÁPIO DIGITAL: ${c.link_cardapio}`;\n}\n\n// MARMITAS\nelse if (/marmita|executiva|tradicional/.test(query)) {\n  resposta = 'MARMITAS (delivery / retirada):\\n';\n  DATA.marmitas.forEach(m => {\n    resposta += `• ${m.nome} — R$ ${m.preco.toFixed(2)}\\n  ${m.descricao}\\n`;\n  });\n}\n\n// COMBOS\nelse if (/combo|família|familia|alcatra|maminha|fraldinha/.test(query)) {\n  resposta = 'COMBOS FAMÍLIA:\\n';\n  DATA.combos.forEach(c => {\n    resposta += `• ${c.nome} — R$ ${c.preco.toFixed(2)}\\n  Inclui: ${c.descricao}\\n`;\n  });\n}\n\n// A LA CARTE\nelse if (/carte|picanha|filet|filé|contrafile|contrafilé|fatiado|fatias/.test(query)) {\n  resposta = 'A LA CARTE:\\nTodos acompanham: Arroz, Farofa, Salada, Maionese, Cebolinha marinada, Chimichurri, 6 Frangos fritos, 8 Polentas fritas\\n\\n';\n  DATA.alacarte.forEach(a => {\n    resposta += `• ${a.nome} — R$ ${a.preco.toFixed(2)}\\n`;\n  });\n}\n\n// PORÇÕES\nelse if (/porção|porcao|linguiça|linguica/.test(query)) {\n  resposta = 'PORÇÕES DE CARNE (400g):\\n';\n  DATA.porcoes.forEach(p => {\n    resposta += `• ${p.nome} — R$ ${p.preco.toFixed(2)}\\n`;\n  });\n}\n\n// GUARNIÇÕES\nelse if (/guarni|arroz|feij|salada|maionese|polenta|batata|mandioca|vinagrete|chimichurri|coração/.test(query)) {\n  resposta = 'GUARNIÇÕES AVULSAS:\\n';\n  DATA.guarnicoes.forEach(g => {\n    resposta += `• ${g.nome} — R$ ${g.preco.toFixed(2)}\\n`;\n  });\n}\n\n// BEBIDAS\nelse if (/bebida|cerveja|suco|refri|agua|água|vinho|drink|caipirinha|whisky|vodka|cachaça/.test(query)) {\n  const cats = [...new Set(DATA.bebidas.map(b => b.categoria))];\n  resposta = 'BEBIDAS:\\n';\n  cats.forEach(cat => {\n    resposta += `\\n${cat}:\\n`;\n    DATA.bebidas.filter(b => b.categoria === cat).forEach(b => {\n      const preco = b.preco > 0 ? `R$ ${b.preco.toFixed(2)}` : b.variante;\n      resposta += `• ${b.nome} — ${preco}\\n`;\n    });\n  });\n}\n\n// SOBREMESAS\nelse if (/sobremesa|sagu|doce/.test(query)) {\n  resposta = 'SOBREMESAS:\\n';\n  DATA.sobremesas.forEach(s => {\n    resposta += `• ${s.nome} — R$ ${s.preco.toFixed(2)}\\n`;\n  });\n}\n\n// TUDO / CARDÁPIO COMPLETO\nelse if (/todos|tudo|cardapio|cardápio|catalogo|menu|completo/.test(query)) {\n  const c = DATA.config;\n  resposta =\n    `CHURRASCARIA TROPICANA — ${c.cidade}\\n` +\n    `Almoço: ${c.horario_almoco}\\nJantar: ${c.horario_jantar}\\n` +\n    `Pagamento: ${c.formas_pagamento}\\n` +\n    `Cardápio digital: ${c.link_cardapio}\\n\\n` +\n    `MARMITAS:\\n` + DATA.marmitas.map(m=>`• ${m.nome}: R$ ${m.preco.toFixed(2)}`).join('\\n') + '\\n\\n' +\n    `COMBOS FAMÍLIA:\\n` + DATA.combos.map(c=>`• ${c.nome}: R$ ${c.preco.toFixed(2)}`).join('\\n') + '\\n\\n' +\n    `A LA CARTE:\\n` + DATA.alacarte.map(a=>`• ${a.nome}: R$ ${a.preco.toFixed(2)}`).join('\\n') + '\\n\\n' +\n    `PORÇÕES (400g):\\n` + DATA.porcoes.map(p=>`• ${p.nome}: R$ ${p.preco.toFixed(2)}`).join('\\n') + '\\n\\n' +\n    `GUARNIÇÕES:\\n` + DATA.guarnicoes.map(g=>`• ${g.nome}: R$ ${g.preco.toFixed(2)}`).join('\\n') + '\\n\\n' +\n    `SALÃO — ALMOÇO:\\n` + DATA.salao.filter(x=>x.periodo==='almoco').map(x=>`• ${x.tipo}: R$ ${x.preco.toFixed(2)}/pessoa`).join('\\n') + '\\n' +\n    `SALÃO — JANTAR:\\n` + DATA.salao.filter(x=>x.periodo==='jantar').map(x=>`• ${x.tipo}: R$ ${x.preco.toFixed(2)}/pessoa`).join('\\n');\n}\n\n// FALLBACK\nelse {\n  const c = DATA.config;\n  resposta =\n    `CHURRASCARIA TROPICANA — ${c.cidade}\\n` +\n    `Almoço: ${c.horario_almoco} | Jantar: ${c.horario_jantar}\\n` +\n    `Cardápio digital: ${c.link_cardapio}\\n\\n` +\n    `Categorias disponíveis: marmitas, combos família, a la carte, porções, guarnições, bebidas, salão (informativo)`;\n}\n\nreturn resposta.trim();\n"
      },
      "id": "279de166-5408-4a57-858c-a9e7e9bf79bc",
      "name": "Tool: Consultar Cardápio",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -3424,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Setup Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Entrada": {
      "main": [
        [
          {
            "node": "provider_message_id existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Adicionar Fila": {
      "main": [
        [
          {
            "node": "Redis: Definir TTL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Definir TTL": {
      "main": [
        [
          {
            "node": "Aguardar Agrupamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Agrupamento": {
      "main": [
        [
          {
            "node": "Redis: Buscar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Buscar Fila": {
      "main": [
        [
          {
            "node": "Processar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Fila": {
      "main": [
        [
          {
            "node": "Filtrar Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "Preparar Salvar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão de Envio": {
      "main": [
        [
          {
            "node": "Wait Escalate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ENVIAR WHATSAPP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR WHATSAPP": {
      "main": [
        [
          {
            "node": "Log Conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Escalate": {
      "main": [
        [
          {
            "node": "ENVIAR WHATSAPP (Escalate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR WHATSAPP (Escalate)": {
      "main": [
        [
          {
            "node": "Notificar Admin (Escalação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Skip": {
      "main": [
        [],
        [
          {
            "node": "Carregar Estado Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "provider_message_id existe?": {
      "main": [
        [
          {
            "node": "Redis - GET dedupe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis: Adicionar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis - GET dedupe": {
      "main": [
        [
          {
            "node": "IF - duplicada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - duplicada?": {
      "main": [
        [
          {
            "node": "STOP - duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Set": {
      "main": [
        [
          {
            "node": "Redis: Adicionar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversa": {
      "main": [
        [
          {
            "node": "Redis: Limpar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Admin (Escalação)": {
      "main": [
        [
          {
            "node": "Redis: Limpar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar Estado Pedido": {
      "main": [
        [
          {
            "node": "Preparar Contexto Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Pedido": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Salvar Pedido": {
      "main": [
        [
          {
            "node": "Redis: Salvar Estado Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Salvar Estado Pedido": {
      "main": [
        [
          {
            "node": "Decisão de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Pedido": {
      "main": [
        [
          {
            "node": "Pedido Confirmado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedido Confirmado?": {
      "main": [
        [
          {
            "node": "Notificar Admin (Escalação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Consultar Cardápio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b9541cdb-e602-4f95-a4ae-73f93410fab8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dee39fabb2e095d61251efd61bec6397646d1774286c0a9042b3e0816abb92ec"
  },
  "id": "GPLhr7TqYFZ8Rpggu-Y3k",
  "tags": []
}